* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}
.input-login, .input-register {
  margin: 32px 0;
}

.input-login label, .input-register label {
  font-size: 24px;
  font-weight: lighter;
}

.input-login input, .input-register input {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  margin-top: 8px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 3px solid var(--on-background);
  color: var(--on-background)
}

.input-login button, .input-register button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: var(--on-background);
  color: var(--background);
  cursor: pointer;
}